/* Esto es para comentar en CSS
SELECTOR {
    PROPIEDAD: 132132
    PROPIEDAD: "23e23px"
}
*/
header, footer {
     background-color:lightseagreen;
     color: darkgreen; 
}
body {
    /* Aca agrego Google Fonts
*/
    font-family: 'Open Sans', sans-serif;
    background-color: paleturquoise;
}
#inic, #noso, #cont, #regi {
    color: darkolivegreen;
}

